.top-section {
    @media only screen and (max-width:1600px) {
        width: 1280px;
    }
    @media only screen and (max-width:1500px) {
        width:1180px;
    }
    @media only screen and (max-width:1400px) {
        width: 1080px;
    }
    @media only screen and (max-width:1200px) {
        width: 980px;
    }
}
.middle-section {
    .widget {
        height: 325px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
    }
}
.middle-bottom {
    justify-content: space-between;
    display: flex;
    .widget {
        height: 325px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
        &.left {
            width: 600px;
        }
        &.right {
            width: 500px;
        }
    }
}
.bottom-section {
    .widget {
        height: 250px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
    }
}