<div class="top-section">
    <app-top-widgets></app-top-widgets>
</div>
<div class="middle-section">
    <div class="widget top left">
        <app-sectors-by-max-life></app-sectors-by-max-life>
    </div>
</div>
<div class="middle-bottom">
    <div class="widget left">
        <app-sectors-by-impact></app-sectors-by-impact>
    </div>
    <div class="widget right">
        <app-pestle-wise-percentages></app-pestle-wise-percentages>
    </div>
</div>
<div class="bottom-section">
    <div class="widget left">
        <app-few-most-important-sectors></app-few-most-important-sectors>
    </div>
</div>